.video-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.video-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  width: 100%;
}

.video-item:hover {
  transform: translateY(-5px);
}

.video-item img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.video-item h3 {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: #333;
}
