.budget-overview-container {
  margin: auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.budget-overview-container h3 {
  margin-bottom: 20px;
}

.budget-overview-container canvas {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.budget-overview-container p {
  margin: 5px 0;
}
